streamlit
pinecone
pinecone-text 
pinecone-client
langchain
langchain-community
transformers
sentence-transformers
huggingface_hub
chromadb
pysqlite3-binary
azure-ai-translation-text 
azure-ai-textanalytics
